@using WebsiteFJW.Controllers
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<HomeController> Localizer
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebsiteFJW</title>
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
    <link rel='stylesheet' id='trx_addons-icons-css' href='~/js/vendor/plugins/trx_addons/css/font-icons/css/trx_addons_icons-embedded.css' type='text/css' media='all' />
	<link rel='stylesheet' id='trx_addons-css' href='~/js/vendor/plugins/trx_addons/css/trx_addons.css' type='text/css' media='all' />
	<link rel='stylesheet' id='woocommerce_prettyPhoto_css-css' href='js/vendor/plugins/woocommerce/assets/css/prettyPhoto.css' type='text/css' media='all' />
	<link rel='stylesheet' id='woocommerce-layout-css' href='~/js/vendor/plugins/woocommerce/assets/css/woocommerce-layout.css' type='text/css' media='all' />
	<link rel='stylesheet' id='woocommerce-smallscreen-css' href='~/js/vendor/plugins/woocommerce/assets/css/woocommerce-smallscreen.css' type='text/css' media='only screen and (max-width: 768px)' />
	<link rel='stylesheet' id='woocommerce-general-css' href='~/js/vendor/plugins/woocommerce/assets/css/woocommerce.css' type='text/css' media='all' />
	@RenderSection("Styles", required: false)
	<link rel='stylesheet' id='laon_wine_house-font-google_fonts-css' href='https://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,600,600italic,700,700italic%7CLato:400,700&amp;subset=latin,latin-ext' type='text/css' media='all' />
	<link rel='stylesheet' id='laon_wine_house-fontello-css' href='~/css/fontello/css/fontello-embedded.css' type='text/css' media='all' />
    <link rel='stylesheet' id='laon_wine_house-main-css' href='~/css/style.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='laon_wine_house-animation-css' href='~/css/animation.css' type='text/css' media='all' />
    <link rel='stylesheet' id='laon_wine_house-colors-css' href='~/css/__colors.css' type='text/css' media='all' />
    <link rel='stylesheet' id='laon_wine_house-styles-css' href='~/css/__styles.css' type='text/css' media='all' />
    <link rel='stylesheet' id='laon_wine_house-custom-css' href='~/css/custom.css' type='text/css' media='all' />
    <link rel='stylesheet' id='laon_wine_house-responsive-css' href='~/css/responsive.min.css' type='text/css' media='all' />
</head>
<body class="page page-template-default body_tag body_style_wide scheme_default blog_mode_page is_single sidebar_hide header_style_header-1 header_position_default header_title_on menu_style_top vc_responsive desktop_layout">
	<div class="body_wrap">
        <div class="page_wrap">
			<header class="top_panel top_panel_style_1 without_bg_image scheme_default header_layout">
				<a class="menu_mobile_button"></a>
				<div class="top_panel_fixed_wrap"></div>
				<div class="top_panel_navi scheme_default">
					<div class="icons-multilang">
						<a href="?culture=vi-VN"><img src="~/images/icons/ic-vn.png" /></a>
						<a href="?culture=en-US"><img src="~/images/icons/ic-en.png" /></a>
					</div>
					<div class="menu_main_wrap clearfix">
						<div class="wrap">
							<a class="logo" href="/"><img src="images/logo.png" class="logo_main" alt="" /></a>
							<nav class="menu_main_nav_area menu_hover_fade">
								<ul id="menu_main" class="menu_main_nav">
									<li class="menu-item">
										<a href="/"><span>@Localizer["menu1"]</span></a>
									</li>
									<li class="menu-item@(ViewBag.PCurrent == "winelist" ? " current-menu-parent" : "")">
										<a href="WineList"><span>@Localizer["menu2"]</span></a>
									</li>
									<li class="menu-item menu-item-has-children@(ViewBag.PCurrent == "blogarchive" ? " current-menu-parent" : "")">
										<a href="BlogArchive"><span>@Localizer["menu3"]</span></a>
										<ul class="sub-menu">
											<li class="menu-item@(ViewBag.CCurrent == "portfolio" ? " current-menu-item" : "")">
												<a href="Portfolio"><span>@Localizer["menu3_1"]</span></a>
											</li>
											<li class="menu-item@(ViewBag.CCurrent == "category" ? " current-menu-item" : "")">
												<a href="BlogArchive"><span>@Localizer["menu3_2"]</span></a>
											</li>
											<li class="menu-item@(ViewBag.CCurrent == "singlepost" ? " current-menu-item" : "")">
												<a href="SinglePost"><span>@Localizer["menu3_3"]</span></a>
											</li>
										</ul>
									</li>
									<li class="menu-item menu-item-has-children@(ViewBag.PCurrent == "buywines" ? " current-menu-parent" : "")">
										<a href="BuyWines"><span>@Localizer["menu4"]</span></a>
										<ul class="sub-menu">
											<li class="menu-item@(ViewBag.CCurrent == "cart" ? " current-menu-item" : "")">
												<a href="Cart"><span>@Localizer["menu4_1"]</span></a>
											</li>
											<li class="menu-item@(ViewBag.CCurrent == "checkout" ? " current-menu-item" : "")">
												<a href="Checkout"><span>@Localizer["menu4_2"]</span></a>
											</li>
											<li class="menu-item@(ViewBag.CCurrent == "myaccount" ? " current-menu-item" : "")">
												<a href="MyAccount"><span>@Localizer["menu4_3"]</span></a>
											</li>
										</ul>
									</li>
									<li class="menu-item menu-item-has-children@(ViewBag.PCurrent == "features" ? " current-menu-parent" : "")">
										<a><span>@Localizer["menu5"]</span></a>
										<ul class="sub-menu">
											<li class="menu-item@(ViewBag.CCurrent == "typography" ? " current-menu-item" : "")">
												<a href="Typography"><span>@Localizer["menu5_1"]</span></a>
											</li>
											<li class="menu-item@(ViewBag.CCurrent == "shortcodes" ? " current-menu-item" : "")">
												<a href="Shortcodes"><span>@Localizer["menu5_2"]</span></a>
											</li>
											<li class="menu-item@(ViewBag.CCurrent == "events" ? " current-menu-item" : "")">
												<a href="Events"><span>@Localizer["menu5_3"]</span></a>
											</li>
										</ul>
									</li>
									<li class="menu-item menu-item-has-children@(ViewBag.PCurrent == "contacts" ? " current-menu-parent" : "")">
										<a href="Contacts"><span>@Localizer["menu6"]</span></a>
										<ul class="sub-menu">
											<li class="menu-item@(ViewBag.CCurrent == "contacts" ? " current-menu-item" : "")"><a href="Contacts"><span>@Localizer["menu6_1"]</span></a></li>
											<li class="menu-item@(ViewBag.CCurrent == "aboutus" ? " current-menu-item" : "")"><a href="AboutUs"><span>@Localizer["menu6_2"]</span></a></li>
										</ul>
									</li>
								</ul>
								<div class="search_wrap search_style_fullscreen">
									<div class="search_form_wrap">
										<form role="search" method="get" class="search_form" action="#">
											<input type="text" class="search_field" placeholder="Search" value="" name="s">
											<button type="submit" class="search_submit icon-search"></button>
											<a class="search_close icon-cancel"></a>
										</form>
									</div>
									<div class="search_results widget_area">
										<a href="#" class="search_results_close icon-cancel"></a>
										<div class="search_results_content"></div>
									</div>
								</div>
							</nav>
						</div>
					</div>
				</div>
			</header>
			<partial name="~/Views/Shared/_MenuMobile.cshtml" />
            <div class="page_content_wrap scheme_default">
				@RenderBody()
            </div>
			<partial name="~/Views/Shared/_Footer.cshtml" />
        </div>
    </div>

	<script type='text/javascript' src='~/js/vendor/jquery.js'></script>
    <script type='text/javascript' src='~/js/vendor/jquery-migrate.min.js'></script>
	<script type='text/javascript' src='~/js/custom/custom.js '></script>
	@RenderSection("Scripts", required: false)
	<script type='text/javascript' src='~/js/vendor/plugins/trx_addons/js/trx_addons.js '></script>
    <script type='text/javascript' src='~/js/__scripts.js '></script>
    <a href="#" class="trx_addons_scroll_to_top trx_addons_icon-up" title="Scroll to top"></a>
</body>
</html>
